<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SWATDB" connectionString="Data Source={{ DB.host }};Initial Catalog={{ DB.database }};User ID={{ DB.user }};Password={{ DB.password }}" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Port" value="{{ Port }}" />
    <add key="Host" value="{{ Host }}" />
    <add key="ServerName" value="{{ AppName }}"/>
  </appSettings>
</configuration>