<div class="aligner vert-offset-top-8">

    <div class="col-lg-4 well well-sm aligner-item">
        <h2>Log In </h2>
        <em class="info">For security reasons, you must be logged in to use the application</em>
        <br/>

        <hr />

        <form>
            <div class="form-group">
                <label for="siglum"><h4>Username</h4></label>
                <input type="text" class="form-control" id="siglum" ng-model="login.userSiglum" placeholder="Login">
            </div>
            <div class="form-group">
                <label for="password"><h4>Password</h4></label>
                <input type="password" class="form-control" id="password" ng-model="login.userPassword" placeholder="Password">
            </div>
            <br/>
            <button type="submit" ng-click="login.login()" class="btn btn-info">Log in</button>
        </form>
        <hr/>

        <small class="pull-left">
			<strong>Don't have an account ? <a
				href="">Request one by clicking here</a></strong>
				<br /> Forgot your password ? <a href="">Reset it to the default one</a> 
			</strong>
		</small>

        <div class="clearfix"></div>
    </div>

</div>